{% load static %}
<!DOCTYPE html>
<html>
<body>
<head>
    <link  rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>

</head>
<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            Projet Immo
        </a>
        <a href="#" class="active item">Accueil</a>
    </div>
</div>
<div class="ui main text container" style="margin-top: 100px;">
    <div class="grid">
        <a href="france" class="item">
            <img src="{% static 'image/france.png' %}">
            <h3 class="ui header">France entière</h3>
        </a>
        <a href="searchdep" class="item">
            <img src="{% static 'image/paris-75.png' %}">
            <h3 class="ui header">Rechercher un département</h3>
        </a>
        <a href="searchcommune" class="item">
            <img style="max-width: 100px;fill:white" src="{% static 'image/map-marked-solid.svg' %}">
            <h3 class="ui header">Rechercher une commune</h3>
        </a>
        <a href="about" class="item">
            <img style="max-width: 100px;fill:white" src="{% static 'image/question-circle-regular.svg' %}">
            <h3 class="ui header">A propos</h3>
        </a>

    </div>
</div>




