{% load static %}
<link  href="{% static 'css/highcharts.css' %}">

<script src="{% static 'js/test.js' %}"></script>
<script src="{% static 'js/highcharts/highcharts.js' %}"></script>




<h1>Graphique Projet immo</h1>
{{ test }}



<div id="container"></div>
<div id="container-2"></div>

<script>
    Highcharts.chart('container', {
        title: {
            text: 'Logarithmic axis demo'
        },

        xAxis: {
            tickInterval: 1,
            type: 'logarithmic',
            accessibility: {
                rangeDescription: 'Range: 1 to 10'
            }
        },

        yAxis: {
            type: 'logarithmic',
            minorTickInterval: 0.1,
            accessibility: {
                rangeDescription: 'Range: 0.1 to 1000'
            }
        },

        tooltip: {
            headerFormat: '<b>{series.name}</b><br />',
            pointFormat: 'x = {point.x}, y = {point.y}'
        },

        series: [{
            data: {{ data|safe }},
    pointStart: 1
    }]
    });


    Highcharts.chart('container-2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Valeurs foncieres moyenne des ventes par departement '
        },
        accessibility: {
            announceNewData: {
                enabled: true
            }
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total percent market share'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span>{point.name}</span>: <b>{point.y:.2f}</b> <br/>'
        },

        series: [
            {
                name: "Departement",
                colorByPoint: true,
                data: {{ valeurfoncierepardep|safe }}
            }
        ]
    });
</script>